{% spaceless %}
<span class="SO">{% include "talgoxe/lemma.html" %}</span>
{% with True as setspace %}
    {% for segment in artikel.fjädrar %}
        {% if not segment.isrightdelim %}
        {% if segment.setspace %}
            <span>⁠ ⁠</span>
        {% endif %}
        {% endif %}
        {% if segment.isleftdelim %}
            {% firstof False True as setspace %}
        {% else %}
            {% firstof True False as setspace %}
        {% endif %}
        {% if segment.ismoment and segment.display %}
            <span class="{{ segment.type }}">{{ segment.text.format }}</span>
        {% else %}
            {% if segment.typ == 'REF' %}
                <span class="{{ segment.typ }}"><a href="{% url 'stickord' segment.text %}">{{ segment.text.format }}</a></span>
            {% else %}
                <span class="{{ segment.type }}">{{ segment.format }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}
<span class="träff hidden" id="lemma-{{ artikel.id }}" /><!-- FIXME Kan egentligen leda till att få varje artikel två gånger när man skriver ut! -->
{% endspaceless %}
