<div>
{% include "talgoxe/ny_stickord.html" %}
<p>Sök bland artiklarna:
<input type="text" id="sok-artikel" />
<button id="sok-artikel-button">Sök</button>
<button id="start-printing">Börja skriva ut</button>
</p>

<p id="searching-feedback" style="display: none;"></p>
<ul>
{% for lemma in lemmata %}
    <li style="display: none;"><a href="{% url 'artikel' lemma.id %}" class="ordlistelement">{{ lemma.lemma }}</a> <input type="checkbox" id="selected-{{ lemma.id }}" /></li>
{% endfor %}
</ul>
</div>
