<div>
{% include "talgoxe/ny_stickord.html" %}
<form action="{% url 'print_on_demand' %}" method="POST">
{% csrf_token %}
<p>Sök bland artiklarna:
<input type="text" id="sok-artikel" />
<button id="sok-artikel-button">Sök</button>
<input type="submit" value="Börja skriva ut" />
</p>

<p id="searching-feedback" style="display: none;"></p>
<ul>
{% for lemma in lemmata %}
    <li style="display: none;"><a href="{% url 'artikel' lemma.id %}" class="ordlistelement">{{ lemma.lemma }}</a> <input type="checkbox" name="selected-{{ lemma.id }}" /></li>
{% endfor %}
</ul>
</div>
</form>
