{% include "talgoxe/header.html" %}

<h2>Redo att skriva ut</h2>
{% for lemma in lemmata %}
    <input type="hidden" value="article-{{ lemma.id }}" />
    {% include 'talgoxe/artikel.html' with lemma=lemma new_segments=lemma.new_segments %}
    <br />
{% endfor %}

<form action="{{ url 'print_pdf' }}" method="POST">
    <button id="skapa-pdf">Skapa PDF</button>
</form>

<form action="{{ url 'print_odf' }}" method="POST">
    <button id="skapa-odf">Skapa ODF</button>
</form>

{% include "talgoxe/footer.html" %}
