{% load static %}
{% load talgoxe_style %}

<!DOCTYPE html>
<html lang="sv">
<head>
<title>{{ lemma.lemma }} – Svenskt dialektlexikon</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&amp;subset=latin">
<link rel="stylesheet" type="text/css" href="{% static "talgoxe.css" %}">
<script src="{% static "jquery-3.2.1.min.js" %}"></script>
<script src="{% static "talgoxe.js" %}"></script>
</head>

<div id="inmatning">
<h2>Inmatning</h2>
<form action="{% url 'artikel' lemma.id %}" method="POST">
{% csrf_token %}
<ul>
<li>SO&nbsp;&nbsp;: <input type="text" name="stickord" value="{{ lemma }}" size="16"> <input type="submit" value="Spara och ladda om" id="spara" tabindex="-1"></li>
{% for d in input %}
    <li id="data-{{ d.pos }}">
      <input type="text" size="3" name="type-{{ d.pos }}" value="{{ d.type.format }}" id="type-{{ d.pos }}" class="d-type">
      <textarea rows="1" style="width: 55%" name="value-{{ d.pos }}" id="value-{{ d.pos }}" class="d-value">{{ d.d }}</textarea>
      <button class="addRow" id="add-row-{{ d.pos }}" tabindex="-1"><strong>+</strong></button>
      <button class="removeRow" id="remove-row-{{ d.pos }}" tabindex="-1"><strong>-</strong></button>
      <button class="moveRowUp" id="row-up-{{ d.pos }}" tabindex="-1"><strong>↑</strong></button>
      <button class="moveRowDown" id="row-down-{{ d.pos }}" tabindex="-1"><strong>↓</strong></button>
    </li>
{% endfor %}
</ul>
</form>
</div>
<div id="artikel">
<h2>Artikel</h2>
<p>
{% spaceless %}
<strong>{{ lemma }}</strong>
{% with setspace as True %}
    {% for segment in new_segments %}
        {% if not segment.isrightdelim %}
        {% comment %}
        {% if setspace and not segment.isrightdelim %}
        {% endcomment %}
            <span>⁠ ⁠</span> {% comment %} FIXME Funkar tydligen inte med LEFTDELIM {% endcomment %}
        {% endif %}
        {% comment %}
        {% if segment.isleftdelim %}
            [set setspace to False!]
        {% else %}
            [comment set setspace to True]
        {% endif %}
        {% endcomment %}
        {% if segment.ismoment and segment.display %}
            <span class="{{ segment.type }}">{{ segment.text.format }}</span>
        {% else %}
            {% if segment.type.abbrev == 'ref' %}
                <span class="{{ segment.type }}"><a href="{% url 'stickord' segment.text %}">{{ segment.text.format }}</a></span>
            {% else %}
                <span class="{{ segment.type }}">{{ segment.format }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}
{% endspaceless %}
</p>
<a href="{% url 'print_artikel' lemma.id %}">PDF version</a>&nbsp;
<a href="{% url 'export_to_odf' lemma.id %}">ODF version</a>
</div>
<div id="ordlista">
{% include 'talgoxe/ordlista.html' %}
</div>

<script>
    $('#spara').click(function() {
        console.log("Submit button clicked.");
    });
</script>
</html>
