{% include "talgoxe/header.html" %}

<div id="ordlista">
{% include 'talgoxe/ordlista.html' %}
</div>
<div id="twospalter">
<div id="inmatning">
<h2>Inmatning</h2>
<form action="{% url 'artikel' lemma.id %}" method="POST">
{% csrf_token %}
<ul>
<li>SO&nbsp;&nbsp;: <input type="text" name="stickord" value="{{ lemma }}" size="16"> <input type="submit" value="Spara och ladda om" id="spara" tabindex="-1"></li>
{% for d in input %}
    <li id="data-{{ d.pos }}">
      {% spaceless %}
      <input type="text" size="3" name="type-{{ d.pos }}" value="{{ d.type.format }}" id="type-{{ d.pos }}" class="d-type">
      <textarea {% if d.type.abbrev == 'm1' or d.type.abbrev == 'm2' %}class="hidden"{% endif %} rows="1" style="width: 55%" name="value-{{ d.pos }}" id="value-{{ d.pos }}" class="d-value">{{ d.d }}</textarea>
      <button class="addRow" id="add-row-{{ d.pos }}" tabindex="-1"><strong>+</strong></button>
      <button class="removeRow" id="remove-row-{{ d.pos }}" tabindex="-1"><strong>-</strong></button>
      <button class="moveRowUp" id="row-up-{{ d.pos }}" tabindex="-1"><strong>↑</strong></button>
      <button class="moveRowDown" id="row-down-{{ d.pos }}" tabindex="-1"><strong>↓</strong></button>
      {% if d.type.abbrev == 'm1' or d.type.abbrev == 'm2' %}
      <button class="moveMomentUp" id="moment-up-{{ d.pos }}" tabindex="-1"><strong>⇑</strong></button>
      <button class="moveMomentDown" id="moment-down-{{ d.pos }}" tabindex="-1"><strong>⇓</strong></button>
      {# Andra möjligheter: ⇧ U+21E7 ⇩ U+21E9 #}
      {% endif %}
      {% endspaceless %}
    </li>
{% endfor %}
</ul>
</form>
</div>
<div id="artikel">
<h2>Artikel – läsa <a href="{% url 'artiklar' lemma.id %}">bara artiklar</a></h2>
<p>{% include 'talgoxe/artikel.html' %}</p>
<input type="hidden" class="toprint" value="article-{{ lemma.id }}" />
<a id="skapa-pdf">PDF version</a>&nbsp;
<a id="skapa-odf">ODF version</a>&nbsp;
<a id="skapa-docx">Word version</a>
</div>
</div>

<script>
    $('#spara').click(function() {
        console.log("Submit button clicked.");
    });
</script>

{% include "talgoxe/footer.html" %}
