{% include "talgoxe/header.html" %}

{% if q == 'NULL' %}
    Ingen söksträng.  Försök <span style="font-family: 'Courier';">{{ uri }}?q=söksträng</span>
{% else %}
  <h2>{{ titel }}</h2>

  <p>
    <a id="skapa-pdf">Skapa PDF</a>
    <a id="skapa-odf">Skapa ODF</a>
    <a id="skapa-docx">Skapa Word</a>
  </p>

  <p id="omordna-artiklar">
    <button id="omordna">Omordna</button>
    <form action="{% url 'omordna' %}" method="POST" class="hidden" id="omordna-form">
      <ul>
        {% for artikel in lemmata %}
          <li class="omordna-pilar nobullet">
            <input type="hidden" name="artikel-{{ artikel.id }}" />
            <button class="flytta-upp"><strong>↑</strong></button>
            <button class="flytta-ner"><strong>↓</strong></button>
            <span>{% include "talgoxe/lemma.html" %}</span>
          </li>
        {% endfor %}
      </ul>
      <input type="submit" value="Spara den nya ordningen" id="spara-ny-ordning" />
    </form>
  </p>

  <p><span id="visa-alla">▸</span> <span id="visa-alla-text">Visa alla</span></p>
  <p>
    <ul>
      {% for lemma in lemmata %}
        <li class="träff virgin" id="lemma-{{ lemma.id }}">
          <span class="träffelement">▸</span>
          <span class="träffelement">{% include "talgoxe/lemma.html" with artikel=lemma %}</span>
          <span class="träffelement hidden" id="artikel-{{ lemma.id }}"></span>
          <a href="{% url 'artikel' lemma.id %}">Redigera</a>
          <p class="hidden" />
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}

{% include "talgoxe/footer.html" %}
