html {
  background-color: #ccf;
}

body {
  font-family: 'Droid Serif', Georgia, Times, serif, roman;
}

#inmatning {
  border: 1px solid black;
  width: 40%;
  float: left;
  margin-right: 2%;
  font-family: 'Courier';
  margin-left: -40px;
}

#inmatning h2 {
  margin-left: 40px;
}

#inmatning li {
  list-style-type: none;
}

#artikel {
  border: 1px solid black;
  width: 40%;
  /* float: left; */
  left: 40%;
  position: fixed;
}

#ordlista {
  width: 16%;
  float: left;
  position: absolute;
  left: 80%;
}

.SO {
  font-style: bold;
}

.OK {
  font-weight: bold;
  font-size: smaller;
}

.KO {
  display: none;
}

.G {
  font-size: smaller;
}

.DSP {
  font-style: italic;
}

.SP {
  font-style: italic;
}

.TIP {
  font-size: smaller;
}

.IP {
}

.M1 {
  font-weight: bold;
}

.M2 {
  font-weight: bold;
}

.VH {
}

.HH {
}

.VR {
}

.HR {
}

.REF {
  font-weight: bold;
  font-size: smaller;
}

.FO {
  font-style: italic;
}

.TIK {
  font-style: italic;
  font-size: smaller;
}

.FLV {
  font-weight: bold;
  font-size: smaller;
}

.ÖVP {
}

.ÖVP:before {
  content: '('
}

.ÖVP:after {
  content: ')'
}

.OG {
  text-decoration: line-through;
}
