html {
  background-color: #ccf;
}

#inmatning {
  border: 1px solid black;
  width: 40%;
  float: left;
}

#artikel {
  border: 1px solid black;
  width: 40%
}

#ordlista {
  width: 20%;
  float: right;
}
