html {
  background-color: #ccf;
}

body {
  font-family: 'Droid Serif', Georgia, Times, serif, roman;
}

#inmatning {
  border: 1px solid black;
  width: 40%;
  float: left;
  margin-right: 2%;
  font-family: 'Courier';
}

#inmatning li {
  list-style-type: none;
}

#artikel {
  border: 1px solid black;
  width: 40%;
  float: left;
}

#ordlista {
  width: 16%;
  float: right;
}

.SO {
  font-style: bold;
}

.OK {
  font-weight: bold;
  font-size: smaller;
}

.KO {
  display: none;
}

.G {
  font-size: smaller;
}

.DSP {
  font-style: italic;
}

.SP {
  font-style: italic;
}

.TIP {
  font-style: italic;
  font-size: smaller;
}

.IP {
  margin-left: -0.3em;
}

.M1 {
  font-weight: bold;
}

.M2 {
  font-weight: bold;
}
