html {
  background-color: #ccf;
}

body {
  font-family: 'Droid Serif', Georgia, Times, serif, roman;
}

/* Tack https://stackoverflow.com/a/11752273/46495 :-) */
#inmatning {
  border: 1px solid black;
  width: 55%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 75%;
  margin-right: 2%;
  font-family: 'Courier';
}

#inmatning ul {
  margin-left: -36px;
}

#inmatning li {
  list-style-type: none;
  margin-left: -3px;
}

#artikel {
  position: fixed;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 40%;
  float: left;
  left: 59%;
  height: 75%;
  /*
  left: 59%;
  top: 0px;
  position: fixed;
  */
}

#ordlista {
  /*
  width: 16%;
  float: left;
  */
  /* position: absolute; */
  /* position: fixed;
  /* left: 80%; */
}

.SO {
  font-style: bold;
}

.OK {
  font-size: x-small;
}

.KO {
  display: none;
}

.G {
  font-size: x-small;
}

.DSP {
  font-style: italic;
}

.SP {
  font-style: italic;
}

.TIP {
  font-size: x-small;
}

.IP {
}

.M1 {
  font-weight: bold;
}

.M2 {
  font-weight: bold;
}

.VH {
}

.HH {
}

.VR {
}

.HR {
}

.REF {
  font-weight: bold;
  font-size: x-small;
}

.FO {
  font-style: italic;
}

.TIK {
  font-style: italic;
  font-size: x-small;
}

.FLV {
  font-weight: bold;
  font-size: x-small;
}

.ÖVP {
}

.ÖVP:before {
  content: '('
}

.ÖVP:after {
  content: ')'
}

.OG {
  text-decoration: line-through;
}

.ÄV {
  content: 'äv.'
}

.GT {
  font-size: x-small;
}

.US {
  font-style: italic;
}

.red {
  background: red;
}

.hidden {
  display: none;
}

li.träff {
  list-style: none;
}

.träff .träffelement {
  cursor: pointer;
}

.nobullet {
  list-style: none;
}

.bokstav {
  display: inline;
}

a#skapa-pdf {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

a#skapa-odf {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  text-decoration: none;
  color: initial;
}

#inmatning li:nth-child(2n) {
  background: green;
}

.d-type, .addRow, .removeRow, .moveRowUp, .moveRowDown, .moveMomentUp, .moveMomentDown {
  vertical-align: top;
}
