<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
{% load static %}
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin">
<link rel="stylesheet" type="text/css" href="{% static "talgoxe.css" %}">
<div id="inmatning">
<h2>Inmatning</h2>
<ul>
<li>SO : {{ lemma }}</li>
{% for d in input %}
    <li>{{ d }}</li>
{% endfor %}
</ul>
</div>
<div id="artikel">
<h2>Artikel</h2>
<strong>{{ lemma }}</strong>
{% for seg in segments %}
    <span class="{{ seg.type }}">{{ seg.text }}</span>
{% endfor %}
</div>
</div>
<div id="ordlista">
<h2>Lista över alla aktuella ord:</h2>
<ul>
{% for lemma in lemmata %}
    <li>{{ lemma.lemma }}</li>
{% endfor %}
</ul>
</div>
