{% load static %}
{% load talgoxe_style %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin">
<link rel="stylesheet" type="text/css" href="{% static "talgoxe.css" %}">
<div id="inmatning">
<h2>Inmatning</h2>
<ul>
<li>SO&nbsp;&nbsp;: {{ lemma }}</li>
{% for d in input %}
    <li>{{ d.type.format }}: {{ d.d }}</li>
{% endfor %}
</ul>
</div>
<div id="artikel">
<h2>Artikel</h2>
<strong>{{ lemma }}</strong>
{% for moment1 in segments %}
    {% if forloop.counter0 != 0 and segments|length > 1 %}
        <span class="M1">{{ forloop.counter0 }}</span>
    {% endif %}
    {% for moment2 in moment1 %}
        {% if forloop.counter0 != 0 and moment1|length > 1 %}
            <span class="M2">{{ forloop.counter0|romanlower }}</span>
        {% endif %}
        {% for seg in moment2 %}
            <span class="{{ seg.type }}">{{ seg.text.format }}</span>
        {% endfor %}
    {% endfor %}
{% endfor %}
</div>
</div>
<div id="ordlista">
<h2>Alla ord:</h2>
<ul>
{% for lemma in lemmata %}
    <li>{{ lemma.lemma }}</li>
{% endfor %}
</ul>
</div>
