{% load static %}
{% load talgoxe_style %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold&subset=latin">
<link rel="stylesheet" type="text/css" href="{% static "talgoxe.css" %}">
<script src="{% static "jquery-3.2.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "talgoxe.js" %}" type="text/javascript"></script>
<div id="inmatning">
<h2>Inmatning</h2>
<form action="{% url 'update_stickord' lemma %}" method="POST">
{% csrf_token %}
<ul>
<li>SO&nbsp;&nbsp;: {{ lemma }} <input type="submit" value="Spara"></li>
{% for d in input %}
    <li id="data-{{ d.pos }}">
      <input type="text" size="3" name="type-{{ d.pos }}" value="{{ d.type.format }}">
      <input type="text" size="16" name="value-{{ d.pos }}" value="{{ d.d }}">
      <button class="addRow" id="button-{{ d.pos }}" onClick="console.log('onClick();')"><strong>+</strong></button>
    </li>
{% endfor %}
</ul>
</form>
</div>
<div id="artikel">
<h2>Artikel</h2>
<p>
{% spaceless %}
<strong>{{ lemma }}</strong>
{% with setspace as True %}
    {% for segment in new_segments %}
        {% if not segment.isrightdelim %}
        {% comment %}
        {% if setspace and not segment.isrightdelim %}
        {% endcomment %}
            <span>⁠ ⁠</span> {% comment %} FIXME Funkar tydligen inte med LEFTDELIM {% endcomment %}
        {% endif %}
        {% comment %}
        {% if segment.isleftdelim %}
            [set setspace to False!]
        {% else %}
            [comment set setspace to True]
        {% endif %}
        {% endcomment %}
        {% if segment.ismoment and segment.display %}
            <span class="{{ segment.type }}">{{ segment.text.format }}</span>
        {% else %}
            {% if segment.type.abbrev == 'ref' %}
                <span class="{{ segment.type }}"><a href="{% url 'stickord' segment.text %}">{{ segment.text.format }}</a></span>
            {% else %}
                <span class="{{ segment.type }}">{{ segment.format }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}
{% endspaceless %}
</p>
<a href="{% url 'print_stickord' lemma.lemma %}">PDF version</a>
</div>
</div>
<div id="ordlista">
<h2>Alla ord:</h2>
<ul>
{% for lemma in lemmata %}
    <li><a href="{% url 'stickord' lemma.lemma %}">{{ lemma.lemma }}</a></li>
{% endfor %}
</ul>
<a href="{% url 'printing' %}">Print!</a>
</div>
